@charset "utf-8";
/* CSS Document */
body {
	
	background-color: #C5C1B6;
}
.nav {
	display: flex;
	color: #fff;
	background-color: #88A489;
	padding: 1em;
}
.nav__logo {
	margin-right: 0.5em;
}
.nav__logo-wordmark {
	margin: 0;
	font-weight: 200;
}
.creets {
	max-width: 400px;
	margin: 1em auto;
}

.creet {
	display: flex;
	background-color: #fff;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 3px;
	box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}

.creet__header {
  color: #aaa;
	margin-bottom: 0.5em;
}

.creet__username {
	font-weight: bold;
	color: #000000;
}

.creet__body { 
	margin-bottom: 0.5em; 

}

.creet__footer { 
  font-size: 16px; 
  color: #D7D0D0;
}

.creet__avatar {
  flex-shrink: 0; /* Prevent element from growing/shrinking */
  width: 40px; /* Fixed dimensions */
  height: 40px;
  background-size: cover; /* Fill with image while keeping ratio */
  margin-right: 0.5em;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden;
}
